<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>List of president</title>
    </head>
    <body>
        <h1 id="pres">List of president</h1>
        <ul id="prelist">
            <% v.forEach(function(item){ %>
                <li><%=item%></li>
           <% }); %>
        </ul>
    </body>
</html>